/* override video player width */
.diIHwN {
  width: 90%;
  max-width: none;
}

.video-js .vjs-control.vjs-button.vjs-control-skip-forward::before {
  content: "⏩️ 15s";
  font-size: 1em;
  margin-top: 0.7em;
}

.video-js .vjs-control.vjs-button.vjs-control-skip-backward::before {
  content: "15s ⏪️";
  font-size: 1em;
  margin-top: 0.7em;
}

.styles__Player-sc-11m924d-0.fryBWp {
  max-width: none;
}

/* Make navbar smaller */
._14ghP {
  height: 2rem;
}

.iQ4OR {
  padding-bottom: 0rem;
}

._3ZoFr {
  padding-bottom: 0;
  padding-top: 0;
}

a._3xHwH._1X-fp._3ZoFr._35d1T._3JmQB._1_Zen {
  padding: 1.25rem;
  max-height: 2rem;
  padding-top: .2rem;
}

button.HwQnp.MqMBs.eu0wt._3ZoFr._2EzoR._3Yf9L._3JmQB._1_Zen.b5T8_._3xHwH._1X-fp {
  padding-top: .25rem;
}

button._2rbvm._15XnO.eu0wt._38vEw._1R-zt._3Yf9L._1X-fp.dWdON._1yV6P._2h91I._2m2dh._1_Zen.b5T8_._3xHwH._1X-fp.HwQnp._2QhVo._1Df9f._3fmjT.QtlnY._1oa3D._3Yf9L.iQ4OR {
  padding-top: 0;
}

._2kjGd {
  height: calc(100% - 2rem);
}

.darkmode-wrapper {
  background-color: #212021;
  color: #1CD1FD;
}

.darkmode-wrapper .styles__SegmentLength-sc-15pe3p3-1 {
  color: #9D9D9D;
}

.darkmode-accent-wrapper {
  background-color: #2B2B2B;
  border-color: hsl(0deg 0% 27%);
}

.darkmode-accent-wrapper .card__body {
  border-top: 1px solid hsl(0deg 0% 27%);
}

.darkmode-accent-wrapper .styles__NavigationItemButton-v6r7uk-3:disabled {
  color: #9D9D9D;
}

.darkmode-accent-wrapper .styles__NavigationItemButton-v6r7uk-3 {
  color: white;
}

.two-u-better--class-name {
  text-decoration: none;
}

.two-u-better--class-name:hover > h2 {
  text-decoration: underline;
}

.two-u-better--class-name > h2 > span {
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
}

.two-u-better--class-name > h2.Kkkke {
  color: #036AD2;
}

.two-u-better--class-name > h2.Kkkke > span {
  color: #9D9D9D;
}

.two-u-better--class-name:hover > h2.Kkkke {
  color: #03488D;
  text-decoration-color: #03488D;
}

.two-u-better--class-name > h2._2YbDk {
  color: #1CD1FD;
}

.two-u-better--class-name:hover > h2._2YbDk {
  color: #2C94FC;
  text-decoration-color: #2C94FC;
}

.two-u-better--class-name > h2._2YbDk > span {
  color: #52697F;
}
